#hero_section {
    height: 250px;
    color: #000;
}



#backimg{
    background-image: url(/img/blob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}




