@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.navbar {
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(177, 173, 173);
    transition: 0.5s;
}


#aboutus {
    color: rgb(67, 67, 68);
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    border-left: 12px solid rgb(5, 80, 34);
    padding-left: 15px;
}

ul {
    list-style:none;
}

#aboutus2 {
    color: rgb(67, 67, 68);
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    border-right: 12px solid rgb(5, 80, 34);
    padding-right: 15px;
}

#aboutus3 {
    color: rgb(67, 67, 68);
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 15px;
}

@media screen and (max-width:500px) {
    #aboutus {
        font-size: 25px;
    }

    #aboutus2 {
        font-size: 25px;
    }

    #aboutus3 {
        font-size: 25px;
    }

}

.card a {
    text-decoration: none;
}

.card {
    width: 180px;
    height: 250px;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover {
    background-color: rgb(202, 200, 198);
    transform:translateY(-10px);
    transition: 0.5s;

}



.card p {
    padding-top: 35px;
    text-align: center;
    font-size: 25px;
    justify-content: center;
    font-weight: 600;
    color: rgb(10, 83, 3);
}

.card img {
    width: 60px;
    align-items: center;
    
}


.callus img {
    right: 0;
    padding-right: 10px;
    position: relative;
    width: 60px;
    border-radius: 50%;
    border: none;
    position: fixed;
}


.welcome {
    font-weight: 800;
}

.welcome1 {
    font-size: 60px;
}

.ourteam {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
}

#swiper {
    height: 100vh;
}

.counter{
    font-size: 35px;
    padding-right: 25px;
    color: rgb(1, 41, 28);
    font-weight: 600;
}



#footer .container {
    color: aliceblue;
}

#social {
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(54, 47, 47);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(169, 176, 176);
}


#social:hover{
    background-color: rgb(7, 115, 7);
    color: aliceblue;
}


#icons a {
    text-decoration: none;
}
